
.facilityCard {
    display: flex;
    flex-flow: column wrap;
    border: dotted black 3px;
    width: 250px;
    height: fit-content;
    padding: 2%;
    margin: 2%;
    justify-content: center;
}

.facilityName {
    font-size: larger;
    font-weight: bold;
}